.footer {
  background-color: $darkGray;
  margin-bottom: 0;
  .footer-content {
    padding-top: calc($spacing / 2);
  }
  .copyright {
    color: $white;
    text-align: center;
    margin-bottom: 0;
  }
}